div#alert(style="text-align: center; font-family: 'Open Sans'; background-color: #F43C04;color: white; top: -1000px; padding: 8px; position: fixed; width: 300px; font-size: 13px; left: 50%; margin-left: -150px;")
    | {{alert | translate}}
