div#preloader(style="text-align: center; width: 90px; height: 90px; background-color: #F43C04;position: fixed; top: -100px; left: 50%; margin-left: '-45px'")
    img(src="/assets/img/ajax-loader.gif",style="display: block; position: relative; top: 27px; left: 27px")

